$dark-1: #D9A7C7;
$dark-2: #FFFCDC;
$dark-gradient: linear-gradient(90deg, $dark-1 0%, $dark-2 100%);

$light-1: #C33764;
$light-2: #1D2671;
$light-gradient: linear-gradient(90deg, $light-1 0%, $light-2 100%);

$transition: .3s;